.panel {
    border: 1px solid;
    border-image-source: radial-gradient(100% 210.13% at 0% 100%, #9A69EB 0%, rgba(154, 105, 235, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    width: 100%;
    height: 100%;
}

